<div class="result">
  <img src="<%= @movie.poster %>">
  <div class="details">
    <p class="title">  <%= @movie.title %> </p>
    <p class="people"> Director: <%= @movie.director %> </p>
    <p class="people"> Actors: <%= @movie.actors %> </p>
    <p class="plot"> <%= @movie.plot %> </p>
  </div>
</div>
