<div class="result">
  <img src="<%= @result["Poster"] %>">
  <div class="details">
    <p class="title">  <%= @result["Title"] %> </p>
    <p class="people"> Director: <%= @result["Director"] %> </p>
    <p class="people"> Actors: <%= @result["Actors"] %> </p>
    <p class="plot"> <%= @result["Plot"] %> </p>
  </div>
</div>
